/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#close{
	-fx-alignment: top-right ;
}

#menuBtnBox{
	-fx-background-color: #DCDCDC  ;
	
}

#menuButton:hover{
	-fx-background-color: darkgrey   ;
		
}

#footer{
	-fx-background-color: darkgrey ;
	-fx-alignment: center;
	-fx-spacing: 0px;
}

#title{
	-fx-alignment: top-left  ;
	-fx-font-family: "微软雅黑","黑体","宋体";
}

#sendPane{
	-fx-background-color: #C0C0C0 ;
	
}

#recordPane{
	-fx-background-color:#C0C0C0 ;
	
}

#footer Label {
	-fx-font-size: 20px;
}

GridPane{
	-fx-background-color: #F5F5F5;
	-fx-alignment: center;
}

Label{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-font-family: "微软雅黑","黑体","宋体";
}




